body {
  background-color: rgb(229, 233, 204);
}

h1 {
  text-align: center;
}

.timer {
  font-size: 0;
}

.field {
  display: inline-flex;
  flex-direction: column;
  width: 25%;

  font-size: 40px;
}

.value,
.label {
  text-align: center;
}
